

Checks: 'bugprone-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,performance-*,readability-*,-readability-identifier-length'

CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: '0'
  - key: readability-identifier-length.MinimumParameterNameLength
    value: '0'

